body{
    background-color: blanchedalmond;
}
.wrapper{
    margin: 100px 200px;
    background-color: aqua;
}

.input-part{
    margin: 20px 20px;
    padding: 10px;

}
.input-part button{
    background-color: salmon;
}
.list-part li{
    list-style-type: none;
}

.footer button{
    background-color: salmon;
}